<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/site.css">
    <title>API - Bonbonniere</title>
</head>

<body>
    <div id="app">
        <bonbonniere-page>
            <div slot="page-content">
                <table class="table">
                    <thead>
                        <th v-for="col in columns" v-text="col"></th>
                    </thead>
                    <tbody>
                        <tr v-for="api in apis">
                            <td v-for="col in columns" v-text="api[col]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </bonbonniere-page>
    </div>
    <script data-main="../js/pages/api" src="../vendor/requirejs/dist/require.js"></script>
</body>

</html>